
# Data preparation

Cargamos las librerías necesarias para el análisis de Hopkins.

In [16]:
library(factoextra)
library(clustertend)

Loading required package: ggplot2

Welcome! Want to learn more? See two factoextra-related books at https://goo.gl/ve3WBa

Asignamos una semilla para volver a reproducir los mismos valores.

In [2]:
set.seed(42)

Cargamos los datos.

In [3]:
datos <- read.csv(file = 'Data_cluster.csv')
datos <- datos[c(1:8)]

In [4]:
head(datos,5)

  PRECIO DELEGACION T_HABITACION MIN_NOCHES N_COMENTARIOS COMENTARIOSXMES
1 1969   1          1            1          57            0.52
2 1893   1          1            1          39            0.42
3 1625   1          2            3          39            0.43
4  956   1          1            2          51            2.55
5 1816   1          2            2          39            0.42
  N_VECES_HOST_LISTADO DISPONIBILIDAD
1  9                   355
2 10                   334
3  1                   178
4  3                   180
5  3                   361

Normalizamos los datos.

In [5]:
df <- scale(datos)
dim(df)

[1] 14154     8

In [6]:
head(df,3)

     PRECIO    DELEGACION T_HABITACION MIN_NOCHES  N_COMENTARIOS
[1,] 0.3651724 -0.71764   -1.0924049   -0.11304770 0.7644740
[2,] 0.3346766 -0.71764   -1.0924049   -0.11304770 0.3075661
[3,] 0.2271391 -0.71764    0.8249933    0.03015516 0.3075661
     COMENTARIOSXMES N_VECES_HOST_LISTADO DISPONIBILIDAD
[1,] -0.6674764       0.6948482            1.0755141
[2,] -0.7241561       0.8406430            0.9151327
[3,] -0.7184882      -0.4715104           -0.2762717

Creamos 10 submuestras para evaluar si su nivel de significancia es mayor a 0.5

In [7]:
rows <- sample(nrow(df))

In [8]:
df_shufled <- df[rows, ]

In [28]:
dim(df_shufled)

[1] 14154     8

In [48]:
df_shuffled_1 <- df_shufled[1:1399,]
df_shuffled_2 <- df_shufled[1400:2799,]
df_shuffled_3 <- df_shufled[2800:4199,]
df_shuffled_4 <- df_shufled[4200:5599,]
df_shuffled_5 <- df_shufled[5600:6999,]
df_shuffled_6 <- df_shufled[7000:8399,]
df_shuffled_7 <- df_shufled[8400:9799,]
df_shuffled_8 <- df_shufled[9800:11199,]
df_shuffled_9 <- df_shufled[11200:12599,]
df_shuffled_10 <- df_shufled[12600:14154,]

Obtenemos los resultados de cada submuestra.

In [49]:
res <- get_clust_tendency(df_shuffled_1, n = nrow(df_shuffled_1)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9777322

In [50]:
res <- get_clust_tendency(df_shuffled_2, n = nrow(df_shuffled_2)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9706449

In [51]:
res <- get_clust_tendency(df_shuffled_3, n = nrow(df_shuffled_3)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9480026

In [52]:
res <- get_clust_tendency(df_shuffled_4, n = nrow(df_shuffled_4)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9354228

In [53]:
res <- get_clust_tendency(df_shuffled_5, n = nrow(df_shuffled_5)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9488854

In [54]:
res <- get_clust_tendency(df_shuffled_6, n = nrow(df_shuffled_6)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9687218

In [55]:
res <- get_clust_tendency(df_shuffled_7, n = nrow(df_shuffled_7)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9312626

In [56]:
res <- get_clust_tendency(df_shuffled_8, n = nrow(df_shuffled_8)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9500248

In [57]:
res <- get_clust_tendency(df_shuffled_9, n = nrow(df_shuffled_9)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9693407

In [58]:
res <- get_clust_tendency(df_shuffled_10, n = nrow(df_shuffled_10)-1, graph = FALSE)
res$hopkins_stat

[1] 0.9340903

Podemos concluir que nuestras submuestras tienen significacnia para obtener clústers, sin embargo, esto sesga la muestra y no la hace representativa, generando un subajuste al modelo.

Por otro lado el tiempo de carga para obtener el estadistico de Hopkins de la muestra completa fue exageradamente largo, se probo el codigo en 3 computadoras varias veces y el código nunca rrojo respuesta. Se necesita mayor poder de procesamiento.